form{
    width:300px;
    display:inline-block;
}
input{
    margin-top: 10px;
}
textarea{
    width:250px;
    height:200px;
    resize:none;
}
form p{
    margin-right: 175px
}

#contacts{
    margin-top:10px;
    width:350px;
    display:inline-block;
    vertical-align:top;
}

.cards{
    margin-bottom:15px;
    height: 200px;
    border:1px solid black;
    text-align:center;
    vertical-align: top;
}

.cards h1{
    margin-top:40px;
}
